<form action="/detector">
  <div class="form-group">
    <label for="userPhrase">Word or Phrase:</label>
    <input id="userPhrase" name="userPhrase" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Puzzle it</button>
</form>
