<!DOCTYPE html>
<html>
  <head>
    <title>Word -> Puzzle, Game</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylessheet" href="public/css/styles.css"
  </head>
  <body>
    <h3 class="jumbotron"> Enter a word and recieve a puzzle on a new page. Riddle your friends! </h3>
    <div class="container">

      #parse ( $template )

    </div>
  </body>
</html>
